<!DOCTYPE html>
<html>
<head>
    <title>log out Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   
    <form action="/logout" method="get">
        <h2>Hi <%= name %></h2>
        <button>log out</button>
    </form>
</body>
</html>
